In [1]:
import pandas as pd
import os

In [2]:
# Danh sách các file .xlsx (dựa trên ảnh bạn cung cấp)
file_list = [
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/NewITData/CV_JD_DataSet.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/NewITData/finalcvgeniusITlink.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/NewITData/finalindeedITlink.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/NewITData/finalresumebuilderITlink.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/NewITData/finalresumeiolink.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/NewITData/finalresumekraftITlink.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/NewITData/finalresumelabITlink.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/NewITData/finalresumetrickITlink.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/NewITData/finalzetyITlinklink.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/NewITData/gpt_dataset.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/NewITData/resume_datasetITDone.xlsx'
]

In [3]:
# Bước 1: Gộp tất cả các file .xlsx thành một DataFrame
df_list = []
for file in file_list:
    df_temp = pd.read_excel(file)
    df_list.append(df_temp)

In [4]:
# Gộp tất cả DataFrame thành một
df = pd.concat(df_list, ignore_index=True)

In [5]:
df.head(20)

        Category                                             Resume
0   Data Science  Skills * Programming Languages: Python (pandas...
1   Data Science  Education Details \nMay 2013 to May 2017 B.E  ...
2   Data Science  Areas of Interest Deep Learning, Control Syste...
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4   Data Science  Education Details \n MCA   YMCAUST,  Faridabad...
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...
7   Data Science  Education Details \n B.Tech   Rayat and Bahra ...
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...
9   Data Science  Expertise â Data and Quantitative Analysis â...
10  Data Science  Skills * Programming Languages: Python (pandas...
11  Data Science  Education Details \nMay 2013 to May 2017 B.E  ...
12  Data Science  Areas of Interest Deep Learning, Control Syste...
13  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
14  Data Science  Education Details \n MCA   YMCAUST,  Faridabad...
15  Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...
16  Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...
17  Data Science  Education Details \n B.Tech   Rayat and Bahra ...
18  Data Science  Personal Skills â¢ Ability to quickly grasp t...
19  Data Science  Expertise â Data and Quantitative Analysis â...

In [6]:
# Bước 2: Viết hoa toàn bộ nội dung cột Category
df['Category'] = df['Category'].str.upper()

In [7]:
# Bước 4: Xáo trộn các dòng trong DataFrame
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [8]:
df.head()

                 Category                                             Resume
0  DATABASE ADMINISTRATOR  Office Staff Database Administrator Office Sta...
1           WEB DEVELOPER  Reactjs developer Reactjs span ldeveloperspan ...
2      SOFTWARE DEVELOPER  Jim Ryan Software Developer jimm_ryyn89@gmail....
3        PYTHON DEVELOPER  VPN Project Consultant Silgan Containers VPN P...
4        PYTHON DEVELOPER  Principal clientserver ops analyst Principal c...

In [9]:
print({len(df)})

{19551}

In [10]:
df.to_excel('D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/General_DataCV/General_Data_CV.xlsx', index=False)


print("Đã gộp và xử lý xong! File được lưu tại 'merged_resume_data.xlsx'")

Đã gộp và xử lý xong! File được lưu tại 'merged_resume_data.xlsx'

In [12]:
import pandas as pd

# Đọc file Google Sheets hoặc file .xlsx (tùy vào định dạng bạn đang dùng)
# Nếu file đã tải về dưới dạng .xlsx, bạn có thể dùng:
df = pd.read_excel('D:/Downloads/amazon_jobs_dataset.xlsx')  # Thay tên file nếu cần

# Bước 1: Gộp 3 cột DESCRIPTION, BASIC QUALIFICATIONS, PREFERRED QUALIFICATIONS thành cột Job Description
df['Job Description'] = df['DESCRIPTION'].astype(str) + ' ' + df['BASIC QUALIFICATIONS'].astype(str) + ' ' + df['PREFERRED QUALIFICATIONS'].astype(str)

# Bước 2: Chỉ giữ lại 2 cột: TITLE (đổi tên thành Job Title) và Job Description
df = df[['Title', 'Job Description']].rename(columns={'Title': 'Job Title'})

# Bước 3: Lưu DataFrame vào file .xlsx mới, không bao gồm cột index
df.to_excel('D:/Downloads/processed_amazon_jobs.xlsx', index=False)

print("Đã xử lý xong! File được lưu tại 'processed_amazon_jobs.xlsx'")

Đã xử lý xong! File được lưu tại 'processed_amazon_jobs.xlsx'