In [1]:
import pandas as pd
import os

In [2]:
# Danh sách các file .xlsx (dựa trên ảnh bạn cung cấp)
file_list = [
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/Sum_JD/jd_cleaned.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/Sum_JD/job_cleanData.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/Sum_JD/DataAnalyst.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/Sum_JD/job_title_des.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/Sum_JD/training_data.xlsx'
]

In [3]:
# Bước 1: Gộp tất cả các file .xlsx thành một DataFrame
df_list = []
for file in file_list:
    df_temp = pd.read_excel(file)
    df_list.append(df_temp)

In [4]:
# Gộp tất cả DataFrame thành một
df = pd.concat(df_list, ignore_index=True)

In [5]:
print({len(df)})

{15332}

In [6]:
# Bước 2: Viết hoa toàn bộ nội dung cột Job Title
df['Job Title'] = df['Job Title'].str.upper()

In [7]:
# Bước 3: Kiểm tra và xóa các dòng trùng lặp trong cột Job Description
duplicates = df['Job Description'].duplicated()
print(f"Số lượng dòng trùng lặp trong cột Job Description: {duplicates.sum()}")

Số lượng dòng trùng lặp trong cột Job Description: 3980

In [8]:
# Bước 4: Xáo trộn các dòng trong DataFrame
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [9]:
# Bước 4: Lưu DataFrame đã xử lý vào file .xlsx mới, không bao gồm cột index
df.to_excel('D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/General_DataJD/General_Data_JD.xlsx', index=False)

print("Đã gộp và xử lý xong! File được lưu tại 'merged_job_data.xlsx'")

Đã gộp và xử lý xong! File được lưu tại 'merged_job_data.xlsx'

In [19]:
# Danh sách các file .xlsx (dựa trên ảnh bạn cung cấp)
file_list = [
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/General_DataJD/General_Data_JD.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/Sum_JD/jobs_linkedin.xlsx',
    'D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/Sum_JD/jdcopy.xlsx'
]

In [20]:
# Bước 1: Gộp tất cả các file .xlsx thành một DataFrame
df_list = []
for file in file_list:
    df_temp = pd.read_excel(file)
    df_list.append(df_temp)

In [21]:
# Gộp tất cả DataFrame thành một
df = pd.concat(df_list, ignore_index=True)

In [22]:
df.head()

,Job Title,Job Description
0,WEB DEVELOPER,my client a busy travel booking website is cur...
1,DATA ANALYST - HEALTH,"Overview\n\nIMPAQ International, a growing and..."
2,C NET SQL SERVER SOAP REST SOFTWARE DEVELOPER,c .net sql server soap rest software developer...
3,FLUTTER DEVELOPER,. Looking for Mobile application developer wit...
4,APPLICATION DEVELOPER,application developer an exciting opportunity ...

In [23]:
print({len(df)})

{19551}

In [24]:
# Bước 2: Viết hoa toàn bộ nội dung cột Job Title
df['Job Title'] = df['Job Title'].str.upper()

In [25]:
# Bước 4: Xáo trộn các dòng trong DataFrame
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [26]:
df.head()

,Job Title,Job Description
0,GRADUATE JAVA SOFTWARE DEVELOPER IT SOFTWARE ...,"graduate java software developer – web, agile,..."
1,ANDROID APPLICATION DEVELOPER MOBILE SOLUTION...,android application developer west london req...
2,SOFTWARE DEVELOPMENT ENGINEER,"Do you enjoy watching the latest movies, telev..."
3,FULL STACK DEVELOPER,transcriptic robotic cloud laboratory life sci...
4,SCRUM MASTER,About the job We would be happy to consider yo...

In [27]:
# Bước 4: Lưu DataFrame đã xử lý vào file .xlsx mới, không bao gồm cột index
df.to_excel('D:/BaiDoAnChuyenNganh3/Automated-Resume-Ranking-System-main/csvfiles/crawlcv/General_DataJD/General_Data_JD1.xlsx', index=False)

print("Đã gộp và xử lý xong! File được lưu tại 'merged_job_data.xlsx'")

Đã gộp và xử lý xong! File được lưu tại 'merged_job_data.xlsx'